In [103]:
import pandas as pd

In [108]:
# dfs are named as df[semester, (F)all or (S)pring][Last two digits of year]
dfS20 = pd.read_csv('./Harvard Enrollment Data/S2020 Enrollment.csv', encoding = 'latin1')
dfF20 = pd.read_csv('./Harvard Enrollment Data/F2020 Enrollment.csv', encoding = 'latin1')
dfS21 = pd.read_csv('./Harvard Enrollment Data/S2021 Enrollment.csv', encoding = 'latin1')
dfF21 = pd.read_csv('./Harvard Enrollment Data/F2021 Enrollment.csv', encoding = 'latin1')
dfS22 = pd.read_csv('./Harvard Enrollment Data/S2022 Enrollment.csv', encoding = 'latin1')
dfF22 = pd.read_csv('./Harvard Enrollment Data/F2022 Enrollment.csv', encoding = 'latin1')
dfS23 = pd.read_csv('./Harvard Enrollment Data/S2023 Enrollment.csv', encoding = 'latin1')
dfF23 = pd.read_csv('./Harvard Enrollment Data/F2023 Enrollment.csv', encoding = 'latin1')
dfS24 = pd.read_csv('./Harvard Enrollment Data/S2024 Enrollment.csv', encoding = 'latin1')
dfF24 = pd.read_csv('./Harvard Enrollment Data/F2024 Enrollment.csv', encoding = 'latin1')

fixedColHeads = 0

In [ ]:
# checking for correct headers, needed to join dataframes
if fixedColHeads == 0:
    fixedColHeads = 1
    # fall 2020 (wasn't necessary for spring 2020)
    dfF20.columns = dfF20.iloc[2]
    dfF20 = dfF20.iloc[3:]
    
    # spring 2021
    dfS21.columns = dfS21.iloc[2]
    dfS21 = dfS21.iloc[3:]
    
    # fall 2021
    dfF21.columns = dfF21.iloc[2]
    dfF21 = dfF21.iloc[3:]
    
    # spring 2022
    dfS22.columns = dfS22.iloc[2]
    dfS22 = dfS22.iloc[3:]
    
    # fall 2022
    dfF22.columns = dfF22.iloc[2]
    dfF22 = dfF22.iloc[3:]
    
    # spring 2023
    dfS23.columns = dfS23.iloc[2]
    dfS23 = dfS23.iloc[3:]
    
    # fall 2023
    dfF23.columns = dfF23.iloc[2]
    dfF23 = dfF23.iloc[3:]
    
    # spring 2024
    dfS24.columns = dfS24.iloc[2]
    dfS24 = dfS24.iloc[3:]
    
    # fall 2024
    dfF24.columns = dfF24.iloc[2]
    dfF24 = dfF24.iloc[3:]
else:
    print("Column headers have already been fixed.")

In [59]:
# deletes extraneous columns
try:
    dfF24 = dfF24.drop(columns=['View in Course Search', 'Class Number', 'Course Section Code', 'Total'])
    dfS24 = dfS24.drop(columns=['Course ID', 'Course Section Code', 'Total'])
    dfF23 = dfF23.drop(columns=['Course ID', 'Course Section Code', 'Total'])
    dfS23 = dfS23.drop(columns=['Course ID', 'Course Section Code', 'Total'])
    dfF22 = dfF22.drop(columns=['Course ID', 'Course Section Code', 'Total'])
    dfS22 = dfS22.drop(columns=['Course ID', 'Course Section Code', 'Total'])
    dfF21 = dfF21.drop(columns=['Course ID', 'Course Section Code', 'Total'])
    dfS21 = dfS21.drop(columns=['Course ID', 'Course Section Code', 'Total'])
    dfF20 = dfF20.drop(columns=['Course ID', 'Course Section Code', 'Total'])
    dfS20 = dfS20.drop(columns=['Course ID', 'Course Section Code', 'Total'])
except:
    print("Columns have already been dropped.")

In [61]:
# adds column to each dataframe designating year and semester
dfS20['Year'] = 2020
dfS20['Semester'] = "Spring"
dfF20['Year'] = 2020
dfF20['Semester'] = "Fall"
dfS21['Year'] = 2021
dfS21['Semester'] = "Spring"
dfF21['Year'] = 2021
dfF21['Semester'] = "Fall"
dfS22['Year'] = 2022
dfS22['Semester'] = "Spring"
dfF22['Year'] = 2022
dfF22['Semester'] = "Fall"
dfS23['Year'] = 2023
dfS23['Semester'] = "Spring"
dfF23['Year'] = 2023
dfF23['Semester'] = "Fall"
dfS24['Year'] = 2024
dfS24['Semester'] = "Spring"
dfF24['Year'] = 2024
dfF24['Semester'] = "Fall"

In [63]:
# drops null values in numeric columns (so objects can be converted to ints), converts all numeric object columns to int64 (so they can be merged later on)
# don't worry i checked and these null values aren't actual classes it's just extraneous stuff

# spring 2020 (didn't need to change objects to ints here)
dfS20 = dfS20.dropna(axis=0, subset=['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw', 'Course Name'])

# fall 2020
dfF20 = dfF20.dropna(axis=0, subset=['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw', 'Course Name'])
dfF20[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']] = dfF20[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']].apply(pd.to_numeric)

# spring 2021
dfS21 = dfS21.dropna(axis=0, subset=['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw', 'Course Name'])
dfS21[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']] = dfS21[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']].apply(pd.to_numeric)

# fall 2021
dfF21 = dfF21.dropna(axis=0, subset=['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw', 'Course Name'])
dfF21[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']] = dfF21[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']].apply(pd.to_numeric)

# spring 2022
dfS22 = dfS22.dropna(axis=0, subset=['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw', 'Course Name'])
dfS22[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']] = dfS22[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']].apply(pd.to_numeric)

# fall 2022
dfF22 = dfF22.dropna(axis=0, subset=['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw', 'Course Name'])
dfF22[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']] = dfF22[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']].apply(pd.to_numeric)

# spring 2023
dfS23 = dfS23.dropna(axis=0, subset=['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw', 'Course Name'])
dfS23[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']] = dfS23[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']].apply(pd.to_numeric)

# fall 2023
dfF23 = dfF23.dropna(axis=0, subset=['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw', 'Course Name'])
dfF23[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']] = dfF23[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']].apply(pd.to_numeric)

# spring 2024
dfS24 = dfS24.dropna(axis=0, subset=['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw', 'Course Name'])
dfS24[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']] = dfS24[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']].apply(pd.to_numeric)

# fall 2024
dfF24 = dfF24.dropna(axis=0, subset=['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw', 'Course Name'])
dfF24[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']] = dfF24[['UGrad', 'Grad', 'NonDegree', 'XReg', 'VUS', 'Employee', 'Withdraw']].apply(pd.to_numeric)

In [65]:
# puts all the data into one big dataframe
allData = pd.concat([dfS20, dfF20, dfS21, dfF21, dfS22, dfF22, dfS23, dfF23, dfS24, dfF24])

In [67]:
# narrowing down to departments [not a necessary step], just makes it faster to search later on
departmentsWithLanguages = ['African & African Amer Studies', 'Celtic Languages & Literatures', 'Classics, The', 
                            'East Asian Langs & Civ', 'Germanic Languages & Lit', 'Near Eastern Languages & Civ', 
                            'Romance Languages & Lit', 'Slavic Languages & Literatures', 'South Asian Studies']
excludeInDepartment = ["AFRAMER|AAAS", "CELTIC", "CLASARCH|CLASPHIL|CLASSIC|CLS-STDY|ANCSTD", 
                       "CHNSHIS|CHNSLIT|EABS|EAFM|EASTD|JAPNHIST|JAPNLIT|KORHIST|KORLIT", "GERMPHIL", "ANE|ARMENST|ISLAMCIV|MODMDEST|NEC|JEWISHST",
                       "ROM-STD|ROM-LANG", "SLAVIC", "SAS|INDO-PER"]
allData = allData[allData['Course Department'].isin(departmentsWithLanguages)]

# adds total number of enrollment across all schools minus enrollment
allData['Total'] = allData['UGrad'] + allData['Grad'] + allData['NonDegree'] + allData['XReg'] + allData['VUS'] + allData['Employee'] - allData['Withdraw']

In [69]:
# for each department, filter out stuff that i know isn't languages, then save all the rest
allLanguages = []
for x in range(len(departmentsWithLanguages)):
    department = allData[allData['Course Title'].str.contains(excludeInDepartment[x])==False]
    department = department[department['Course Department'] == departmentsWithLanguages[x]]
    
    for a in department['Course Title'].unique():
        allLanguages.append(a.split()[0])
    
allLanguages = list(dict.fromkeys(allLanguages))

In [71]:
# filters dataset for just classes with a language code
almostJustLanguages = allData[allData['Course Title'].str.contains('|'.join([str(x) for x in allLanguages]))==True]

# fixes the scandinavia class code, since it contains certain classes that are not languages
scandNonLangClass = almostJustLanguages[almostJustLanguages['Course Title'].str.contains("SCAND")==True]
scandNonLangClass = scandNonLangClass[scandNonLangClass['Course Title'].str.contains("SCAND 90")==False].index

languageCourses = almostJustLanguages.drop(scandNonLangClass)

In [110]:
# deletes courses with instructor 'Unknown' because that means the class didn't run
languageCourses['Instructor Full Name'] = languageCourses['Instructor Full Name'].fillna(value="Unknown")
languageCourses = languageCourses[languageCourses['Instructor Full Name'] != "Unknown"]
languageCourses['Course Title'] = languageCourses['Course Title'].str.strip()
languageCourses['Course Title'] = languageCourses['Course Title'].str.replace('\u00A0', ' ', regex=False)
languageCourses['Course Title'] = languageCourses['Course Title'].str.replace(r'[\u200B-\u200D\uFEFF]', '', regex=True)

In [81]:
print(f"Number of distinct languages: {len(allLanguages)}")

Number of distinct languages: 80

In [118]:
languageCourses.to_csv('all_language_courses.csv')